.table {
  width: 70%;
  margin: 120px auto;
  border-collapse: collapse;
}

.th, .td {
  border: 1px solid black;
}

.tfoot {
  text-align: right;
}

.cart {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: bottom;
  cursor: pointer;
}